td{
  padding: 1vw !important;
}
th{
  padding: 1vw !important;
}
#logo{
  aspect-ratio: 1/1;
  width: 5vmin;
  margin-bottom: 1vmin;
  position: relative;
  bottom: 0.8vw;
  margin-right: 2vmin;
}
.hovPoint:hover{
  cursor: pointer;
}
#homeBlock{
  opacity: 0.9;
  width: 130vh;
  height: 70vh;
  margin: auto;
  position: relative;
  top: 10vmin;
  border-radius: 3vh;
  font-size: 15vh;
  text-align: center;
  padding-top: 9%;
}
#collapseToggle{
  padding: 0vh 1vh;
}

@media (max-width: 480px){
  #logo{
    width: 6.5vmin;
    bottom: 1.5vw;
  }
}

@media (max-width: 930px){
  #homeBlock{
    width: 87vw;
    height: 46vw;
    border-radius: 3vw;
    font-size: 10vw;
    padding-top: 12%;
  }
}

